<ion-header>

    <div id="header">
        <div id="options">
            <button class="button button-clear">
              <img src="../../assets/img/options_icon.png" alt="Options icon" id="options_icon">
            </button>
        </div>
        <div id="logo">
            <img src="../../assets/img/fgv_logo.png" alt="Logo FGV" id="fgv_logo">
        </div>
    
        <div id="titulo">
            <p class="cabecalho" id="title">Endereço</p>
        </div>
    </div>
  
  </ion-header>
  
  
  <ion-content>
  
      <div id="section">
  
          <div id="opcao_restaurantes">
              <p id="restaurantes">Restaurantes</p>
          </div>
  
          <div class="restaurante" id="restaurante_1">
              <div class="botao_restaurante">
                  <button class="botao_restaurante">
                      <div class="restaurante_logo">
                          <img src="../../assets/img/restaurante_logo.png" alt="Restaurante 1" class="logo_restaurante">
                      </div>
                  </button>
              </div>
          </div>

          <div class="restaurante" id="restaurante_2">
              <div class="botao_restaurante">
                  <button class="botao_restaurante">
                      <div class="restaurante_logo">
                          <img src="../../assets/img/restaurante_logo.png" alt="Restaurante 2" class="logo_restaurante">
                      </div>
                  </button>
              </div>
          </div>


      </div>
  
  </ion-content>
  