<ion-header>

  <div id="header">
      <div id="options">
          <button class="button button-clear">
            <img src="../../assets/img/options_icon.png" alt="Options icon" id="options_icon">
          </button>
      </div>
      <div id="logo">
          <img src="../../assets/img/fgv_logo.png" alt="Logo FGV" id="fgv_logo">
      </div>
  
      <div id="titulo">
          <p class="cabecalho" id="title">Cardápio dos restaurantes</p>
      </div>
  </div>

</ion-header>


<ion-content>

    <div id="section">

        <div id="selecione">
            <p id="selecione_o_local">Selecione o local</p>
        </div>

        <div class="cidade" id="rio_de_janeiro">
            <div class="botao_cidade">
                <button class="botao_cidade">
                    <div class="nome_cidade">
                        <p>Rio de Janeiro</p>
                    </div>
                    <div class="cidade_icon">
                        <img src="../../assets/img/rio_de_janeiro_icon.png" alt="Rio de Janeiro icon">
                    </div>
                </button>
            </div>
        </div>

        <div class="cidade" id="sao_paulo">
            <div class="botao_cidade">
                <button class="botao_cidade">
                    <div class="nome_cidade">
                        <p>São Paulo</p>
                    </div>
                    <div class="cidade_icon">
                        <img src="../../assets/img/sao_paulo_icon.png" alt="São Paulo icon">
                    </div>
                </button>
            </div>
        </div>

    </div>

</ion-content>
